
*{
    font-family: Andale Mono, monospace;
}

body{
    width: 100%;
    background-image: url("Imagens/fundo.jpg");
}

.title{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-title{
    color: white;
    font-family: Andale Mono, monospace;
}


.pagina{
    color: #F2A7D0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.table

